body,
html {
    background: #ecedef;
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    width: 425px;
}

.display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #7fffd4;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.buttons {
    padding: 20px 20px 0 20px;
}

.row {
    width: 420px;
    float: left;
}
#result {
    width: 165px;
    height: 60px ;
    border-radius: 15% 15%;
    background-color: #7fffd4 ;
    color: #ecedef ;
    border: none;
    
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}
input[type="button"] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5e5858;
    cursor: pointer;
}

input[type="text"] {
    width: 350px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #000000;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
}

.red {
    background: #ff0509 !important;
    color: #ffffff !important;
}

.green {
    background: #4ff703 !important;
    color: #ffffff !important;
}

#myForm {
    width: 100%;
    margin: 0 auto;

}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0%;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

#correct{
    color: yellow;
}